.contact {
  flex-direction: column;
  text-align: center;
}

.contact__item {
  margin: 8px 0;
  font-size: 1rem;
}
.contact__item a {
  color: var(--clr-primary);
  text-decoration: none;
}
.contact__item a:hover {
  text-decoration: underline;
}